
 
 
 
 footer {
    
    background:linear-gradient(rgb(78, 4, 78), rgb(41, 1, 41));
    border-top: 10px black solid;
         margin-top:  160px;
  text-align: right;
  
 
    h2 {
 
 text-align: left;
 
 }

 .social {

    display: inline-block;
 height: 250px;
 width: 250px;
 
 text-align:center;
 
 a {
 
    display: block;
  
  
  }

 
 }

 }
 
 
 
 


 
 