.novedades {
    
    text-align: center;
    
    .cuadrado1 {
    
        display: inline-block;
    height: 250px;
    width: 250px;
    
     img {
    
    
        width: 200px;
        
        }
    
    
    }
    
    
    
    

    }
    
    .videos {
    
        text-align: center;
        
        
        }
    